/*
	The following code was modified from https://codepen.io/anon/pen/YLegaN
*/

div.menubar
{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
	padding: 2em 2em;
	text-align: center;
	background: #FFF; /*just for testing sake*/
	/*float:center;*/ 
	display: inline-block; /* makes the width be content-sized */
	white-space:nowrap; /*hopefully force 1 line*/
}

div.menubar a
{
    color: #3A3A3A;
    text-decoration: none;
    /*font: 20px 'Courier New', Courier, monospace;*/
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #DEA6FF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before
{
    height: 100%;
}

/*
	The following code is original
*/
div.container
{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
	padding: 1em 1em;
	text-align: left;
	/*float:center;*/
	background: #FFF;
	color: #3A3A3A;
}
