/*
	A lot of the following code was modified from https://codepen.io/anon/pen/YLegaN
*/

div.menubar
{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
	padding: 2em 2em;
	text-align: center;
	background: #FFF; /*just for testing sake*/
	/*float:center;*/ 
	display: inline-block; /* makes the width be content-sized */
	white-space:nowrap; /*hopefully force 1 line*/
}

div.menubar a
{
    color: #3A3A3A;
    text-decoration: none;
    /*font: 20px 'Courier New', Courier, monospace;*/
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #DEA6FF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before
{
    height: 100%;
}

div.container
{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
	padding: 1em 1em;
	text-align: left;
	/*float:center;*/
	background: #FFF;
	color: #3A3A3A;
	max-width:45em;
	margin: auto;
}

/*div.highlightTextIn a:before
{
    position: absolute;
    color: #8FFF72;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(1.2);
    opacity: 0;
} 

div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

div.highlightTextIn a
{
    color: #DEA6FF; 
}*/

/* From https://codemyui.com/gradient-fill-underline-hover-effect-multiple-lines/ */
.thickgradientunderline {
	background-image: linear-gradient(120deg, #FF7279 0%, #80A7FF 100%);
    background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
}
.thickgradientunderline:hover {
    background-size: 100% 88%;
    /*color: #FFF;*/
  }

.thickgradientunderline a {
	color: #3A3A3A;
	text-decoration: none;
}

/*.thickgradientunderline a:hover {
	color: #FFF;
}*/

.emph
{
	/*color: #CD7AFF;*/
	font-weight: bold;
}

.slider
{
	color: #3A3A3A;
}